<nav class="navbar">
  <a class="navbar-brand" href="#">{{title}}</a>
</nav>
<div class="jumbotron">
  <h1 class="display-4 text-center">{{title}}</h1>
  <p class="lead text-center">And to one he gave five talents, to another two, and to another one, to each according to his ability</p>
  <p class="text-center">Having then gifts differing according to the grace that is given to us, let us use them:<br>
    if prophecy, let us prophecy in proportion to our faith;<br>
    or ministry, let us use it in our ministering;<br>
    he who teaches, in teaching; he who exhorts, in exhortation;<br>
    he who gives, with liberality; he who leads, with diligence;<br>
    he who shows mercy, with cheerfulness.</p>
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-lg btn-outline-primary">I want to help</a>
    </div>
    <div class="col text-center">
      <a class="btn btn-lg btn-outline-primary">I need help</a>
    </div>
  </div>
</div>
<footer class="container">
  <div class="small">Copyright &copy; 2018 Bill Robitske Jr.</div>
  <div class="small">Code available on <a href="https://github.com/BillRobitskeJr/eight-talents" title="8talents on GitHub">GitHub</a>, licensed under <a href="https://github.com/BillRobitskeJr/eight-talents/blob/master/LICENSE" title="MIT License for 8talents">MIT license conditions</a></div>
</footer>